.sec1 {
  padding-top: 100px;
}

.sec1 h1 {
  color: var(--text-main);
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 5.76px;
  transition: color 0.3s ease;
}

.sec1 h1 span {
  background: linear-gradient(90deg, #b51763 0%, #ff2f7d 40%, #ffc1d9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-x 2s linear infinite;
}

@keyframes gradient-x {
  0%, 100% { background-size: 200% 200%; background-position: left center; }
  50% { background-size: 200% 200%; background-position: right center; }
}

.link-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-main) !important;
  position: relative;
  overflow: hidden;
  transition: 5s !important;
}

.link-icon:hover {
  background: linear-gradient(90deg, #b51763 0%, #ff2f7d 40%, #ffc1d9 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #b51763 0%, #ff2f7d 40%, #ffc1d9 100%) !important;
  border-image-slice: 1 !important;
  border-radius: 10px !important;
}

.link-icon a {
  color: var(--text-main);
  font-size: 20px;
  transition: color 0.3s ease;
}

.col-btns-sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.col-btns-sec1 .btn_cv {
  width: 100%;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  padding: 0px 20px;
  letter-spacing: 2.16px;
  background: linear-gradient(90deg, #b51763 0%, #ff2f7d 40%, #ffc1d9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 6px;
  border: 1px solid #ff2f7d;
}
.col-btns-sec1 .btn_contact {
  width: 100%;
  text-decoration: none !important;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  padding: 0px 20px;
  letter-spacing: 2.16px;
  background: linear-gradient(90deg, #b51763 0%, #ff2f7d 40%, #ffc1d9 100%);
  color: white;
  border-radius: 6px;
  border: 1px solid #ff2f7d;
}

@media screen and (max-width: 576px) {
  .sec1 h1 { font-size: 32px; line-height: 49px; letter-spacing: 3.2px; text-align: center; }
  .col-btns-sec1 { flex-direction: column; }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .sec1 h1 { font-size: 49.089px; line-height: 75.167px; letter-spacing: 4.909px; }
  .col-btns-sec1 { flex-direction: column; }
}
@media screen and (min-width: 769px) and (max-width: 1010px) {
  .sec1 h1 { font-size: 32px; line-height: 49px; letter-spacing: 3.2px; }
  .col-btns-sec1 { flex-direction: column; }
}
